<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand bg-dark fs-4 text-success">
            Azali Developer
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link fs-5 text-success" href="#">Portfolio / Projects</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-5 text-success" href="#">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>