        <!-- Hero Start -->
<section class="bg-hero d-table w-100 bg-dark overflow-hidden" style="background: url('img/bg.png') center center;">
    <div class="bg-overlay bg-gradient-overlay-2"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="title-heading margin-top-100">
                    <span class="badge bg-primary bg-gradient">Boost your creativity</span>
                    <h1 class="display-3 text-white my-3">The easy way to manage <br> Product analytics</h1>
                    <p class="para-desc mx-auto text-muted">Explore our diverse industry solutions, meticulously crafted to meet unique demand. helps you be more.</p>
                    <div class="subscribe-form mt-4 pt-2">
                        <form class="mx-auto" action="index.html">
                            <input type="email" id="SubscribeEmail" class="border bg-white rounded-pill" style="opacity: 0.85;" required placeholder="Type your email">
                            <button type="submit" class="btn btn-pills btn-primary">Get Started</button>
                        </form><!--end form-->
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<section class="position-relative">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="tilt-3d margin-absolute">
                    <div class="tilt-3d-trigger">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>

                        <div class="tilt-3d-image position-relative">
                            <img src="img/hero/hero.png" class="img-fluid rounded-4 border-primary" alt="">
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<section class="section overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">A powerful easy-to-use platform</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="position-relative features text-center rounded p-4 pt-5">
                    <div class="position-relative d-flex justify-content-center">
                        <i data-feather="aperture" class="fea icon-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>

                    <div class="mt-4">
                        <a href="service-detail.html" class="h5 text-dark link-title">Branding Strategy</a>
                        <p class="text-muted mt-3">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                        <a href="service-detail.html" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="position-relative features text-center rounded p-4 pt-5">
                    <div class="position-relative d-flex justify-content-center">
                        <i data-feather="send" class="fea icon-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>

                    <div class="mt-4">
                        <a href="service-detail.html" class="h5 text-dark link-title">Digital Solutions</a>
                        <p class="text-muted mt-3">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                        <a href="service-detail.html" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="position-relative features text-center rounded p-4 pt-5">
                    <div class="position-relative d-flex justify-content-center">
                        <i data-feather="users" class="fea icon-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>

                    <div class="mt-4">
                        <a href="service-detail.html" class="h5 text-dark link-title">Social Media</a>
                        <p class="text-muted mt-3">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                        <a href="service-detail.html" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="position-relative features text-center rounded p-4 pt-5">
                    <div class="position-relative d-flex justify-content-center">
                        <i data-feather="star" class="fea icon-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>

                    <div class="mt-4">
                        <a href="service-detail.html" class="h5 text-dark link-title">Insightful Analytics</a>
                        <p class="text-muted mt-3">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                        <a href="service-detail.html" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="position-relative features text-center rounded p-4 pt-5">
                    <div class="position-relative d-flex justify-content-center">
                        <i data-feather="bookmark" class="fea icon-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>

                    <div class="mt-4">
                        <a href="service-detail.html" class="h5 text-dark link-title">Business Consultation</a>
                        <p class="text-muted mt-3">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                        <a href="service-detail.html" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="position-relative features text-center rounded p-4 pt-5">
                    <div class="position-relative d-flex justify-content-center">
                        <i data-feather="message-circle" class="fea icon-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>

                    <div class="mt-4">
                        <a href="service-detail.html" class="h5 text-dark link-title">24/7 Support</a>
                        <p class="text-muted mt-3">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                        <a href="service-detail.html" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="position-relative">
                    <img src="img/1.png" class="img-fluid rounded-2" alt="">

                    <div class="modern-app-round round-small"></div>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-3">Boost conversions, <br> uncover opportunities</h4>
                    <p class="text-muted para-desc mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>

                    <ul class="list-unstyled text-muted mb-0 mt-3">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Digital Marketing Solutions for Tomorrow</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Our Talented & Experienced Marketing Agency</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Create your own skin to match your brand</li>
                    </ul>

                    <div class="mt-4">
                        <a href="aboutus.html" class="btn btn-soft-primary">About Us <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6 col-md-6 order-1 order-md-2">
                <div class="position-relative">
                    <img src="img/2.png" class="img-fluid rounded-2" alt="">

                    <div class="modern-app-round round-small"></div>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 order-md-1 order-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-3">Optimize page layouts <br> and refine your content</h4>
                    <p class="text-muted para-desc mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>

                    <ul class="list-unstyled text-muted mb-0 mt-3">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Digital Marketing Solutions for Tomorrow</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Our Talented & Experienced Marketing Agency</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Create your own skin to match your brand</li>
                    </ul>

                    <div class="mt-4">
                        <a href="aboutus.html" class="btn btn-soft-primary">About Us <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Customer's Review</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-12 mt-4">
                <div class="tiny-three-item">
                    <div class="tiny-slide">
                        <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4 m-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Creativity</h6>

                                <ul class="list-unstyled mb-0 text-warning">
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>

                            <p class="text-muted fst-italic mt-2">" According to most sources, Lorum Ipsum can be traced back to a text composed by Cicero Launch your campaign and benefit from our expertise. "</p>

                            <div class="d-flex align-items-center">
                                <img src="img/team/1.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                <div class="ms-2">
                                    <h6 class="text-dark small mb-0">Calvin Carlo</h6>
                                    <small class="text-muted d-block">Manager</small>
                                </div>
                            </div>

                            <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4 m-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Modern</h6>

                                <ul class="list-unstyled mb-0 text-warning">
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star-half-full"></i></li>
                                </ul>
                            </div>

                            <p class="text-muted fst-italic mt-2">" I didn't know a thing about icon design until I read this book. Now I can create any icon I need in no time. Great resource! "</p>

                            <div class="d-flex align-items-center">
                                <img src="img/team/2.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                <div class="ms-2">
                                    <h6 class="text-dark small mb-0">Carl Oliver</h6>
                                    <small class="text-muted d-block">Manager</small>
                                </div>
                            </div>

                            <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4 m-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Social Marketing</h6>

                                <ul class="list-unstyled mb-0 text-warning">
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star-half-full"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star-outline"></i></li>
                                </ul>
                            </div>

                            <p class="text-muted fst-italic mt-2">" The best part about Flipup is every time I pay my employees, my bank balance doesn't go down like it used to. Looking forward to spending this extra cash when I figure out why my card is being declined. "</p>

                            <div class="d-flex align-items-center">
                                <img src="img/team/3.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                <div class="ms-2">
                                    <h6 class="text-dark small mb-0">Barbara McIntosh</h6>
                                    <small class="text-muted d-block">Manager</small>
                                </div>
                            </div>

                            <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4 m-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Digital Marketing</h6>

                                <ul class="list-unstyled mb-0 text-warning">
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star-half-full"></i></li>
                                </ul>
                            </div>

                            <p class="text-muted fst-italic mt-2">" I used to have to remit tax to the EU and with Flipup I somehow don't have to do that anymore. Nervous to travel there now though. "</p>

                            <div class="d-flex align-items-center">
                                <img src="img/team/4.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                <div class="ms-2">
                                    <h6 class="text-dark small mb-0">Janisha Doll</h6>
                                    <small class="text-muted d-block">Manager</small>
                                </div>
                            </div>

                            <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4 m-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">SEO</h6>

                                <ul class="list-unstyled mb-0 text-warning">
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>

                            <p class="text-muted fst-italic mt-2">" There are so many things I had to do with my old software that I just don't do at all with Flipup. Suspicious but I can't say I don't love it. "</p>

                            <div class="d-flex align-items-center">
                                <img src="img/team/5.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                <div class="ms-2">
                                    <h6 class="text-dark small mb-0">Esther Howard</h6>
                                    <small class="text-muted d-block">Manager</small>
                                </div>
                            </div>

                            <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4 m-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Classic</h6>

                                <ul class="list-unstyled mb-0 text-warning">
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>

                            <p class="text-muted fst-italic mt-2">" I'm trying to get a hold of someone in support, I'm in a lot of trouble right now and they are saying it has something to do with my books. Please get back to me right away. "</p>

                            <div class="d-flex align-items-center">
                                <img src="img/team/6.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                <div class="ms-2">
                                    <h6 class="text-dark small mb-0">Joshua William</h6>
                                    <small class="text-muted d-block">Manager</small>
                                </div>
                            </div>

                            <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Blog Or News</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="blog position-relative overflow-hidden shadow rounded p-4">
                    <div class="position-relative">
                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                            <img src="img/blog/1.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="position-absolute top-100 start-0 translate-middle-y ms-2">
                            <a href="" class="badge bg-primary">Dashit</a>
                        </div>
                    </div>

                    <div class="pt-4">
                        <a href="blog-detail.html" class="text-dark title h5">Utilizing mobile technology in the field</a>

                        <p class="text-muted my-2">Success needs hard work. Don't listen to these 'get rich quick' schemes.</p>

                        <a href="blog-detail.html" class="text-dark read-more">Read More <i class="mdi mdi-chevron-right align-middle"></i></a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="blog position-relative overflow-hidden shadow rounded p-4">
                    <div class="position-relative">
                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                            <img src="img/blog/2.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="position-absolute top-100 start-0 translate-middle-y ms-2">
                            <a href="" class="badge bg-primary">Dashit</a>
                        </div>
                    </div>

                    <div class="pt-4">
                        <a href="blog-detail.html" class="text-dark title h5">Success Story: Businessman in Harlem</a>

                        <p class="text-muted my-2">Success needs hard work. Don't listen to these 'get rich quick' schemes.</p>

                        <a href="blog-detail.html" class="text-dark read-more">Read More <i class="mdi mdi-chevron-right align-middle"></i></a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="blog position-relative overflow-hidden shadow rounded p-4">
                    <div class="position-relative">
                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                            <img src="img/blog/3.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="position-absolute top-100 start-0 translate-middle-y ms-2">
                            <a href="" class="badge bg-primary">Dashit</a>
                        </div>
                    </div>

                    <div class="pt-4">
                        <a href="blog-detail.html" class="text-dark title h5">How Does Marketing Automation Help Lead</a>

                        <p class="text-muted my-2">Success needs hard work. Don't listen to these 'get rich quick' schemes.</p>

                        <a href="blog-detail.html" class="text-dark read-more">Read More <i class="mdi mdi-chevron-right align-middle"></i></a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
