<footer class="bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="py-5">
                    <div class="row">
                        <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <p>متون فعلی در حال حاضر آماده نمی باشد</p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">

                            </ul><!--end icon-->
                        </div><!--end col-->

                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h6 class="footer-head text-uppercase small">شرکت</h6>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="aboutus.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i>درباره ما</a></li>
                                <li><a href="services.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i>محصولات</a></li>
                                @* <li><a href="team.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Team</a></li>
                                <li><a href="pricing.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Pricing</a></li>
                                <li><a href="blogs.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Blog</a></li> *@
                                <li><a href="login.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Login</a></li>
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h6 class="footer-head text-uppercase small">لینک های مفید</h6>
                            <ul class="list-unstyled footer-list mt-4">
                                @* <li><a href="helpcenter-overview.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Helpcenter</a></li>
                                <li><a href="terms.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Terms of Services</a></li>
                                <li><a href="privacy.html" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Privacy Policy</a></li> *@
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h6 class="footer-head text-uppercase small">روزنامه</h6>
                            <p class="mt-4">ثبت نام کنید و از طریق ایمیل جدید ترین اخبار را جویا شوید</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="foot-subscribe mb-3">
                                            <label class="form-label"><span class="text-danger">*</span> ایمیل خود را وارد نمایید </label>
                                            <div class="form-icon position-relative">
                                                <input type="email" name="email" id="submitsubscribe" class="form-control rounded" placeholder="ایمیل : " required>
                                                <div class="position-absolute top-50 end-0 translate-middle-y">
                                                    @* <button type="submit" id="submitsubscribe" class="btn btn-sm btn-icon btn-soft-primary me-1"> *@
                                                    @*     <i data-feather="send" class="icons"></i> *@
                                                    @* </button> *@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

     <div class="container"> 
         <div class="row"> 
             <div class="col-12"> 
                 <div class="py-5 footer-bar"> 
                     <div class="container text-center"> 
                         <div class="row align-items-center"> 
                             <div class="col-sm-6"> 
                                 <div class="text-sm-start"> 
                                     <a href="#" class="logo-footer"> 
                                         <img src="img/logo-light.png" alt=""> 
                                     </a> 
                                 </div> 
                             </div><!--end col--> 

                         @*     <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0"> 
                                 <ul class="list-unstyled footer-list terms-service text-sm-end mb-0"> 
                                     <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="text-foot fw-medium me-2"><i class="mdi mdi-circle-small"></i> Privacy</a></li> 
                                     <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="text-foot fw-medium me-2"><i class="mdi mdi-circle-small"></i> Terms</a></li> 
                                     <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="text-foot fw-medium me-2"><i class="mdi mdi-circle-small"></i> FAQs</a></li> 
                                     <li class="list-inline-item mb-0"><a href="javascript:void(0)" class="text-foot fw-medium"><i class="mdi mdi-circle-small"></i> Contact</a></li> 
                                 </ul> 
                             </div><!--end col-->  *@
                         </div><!--end row--> 
                     </div><!--end container--> 
                 </div> 
             </div><!--end col--> 
         </div><!--end row--> 
     </div><!--end container--> 

    <div class="py-4 footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    @* <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Dashit. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p> *@
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->
<!-- Offcanvas Start -->
<div class="offcanvas offcanvas-end shadow border-0" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header p-4 border-bottom">
        <h5 id="offcanvasRightLabel" class="mb-0">
            <img src="img/logo-dark.png" class="light-version" alt="">
            <img src="img/logo-light.png" class="dark-version" alt="">
        </h5>
        <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas" aria-label="Close"><i class="mdi mdi-close fs-4"></i></button>
    </div>
    <div class="offcanvas-body p-4">
        <div class="row">
            <div class="col-12">
                <img src="img/contact.png" class="img-fluid" alt="">
                <form>
                    <div class="my-3 text-center">
                        <h6 class="text-uppercase mb-0 fw-semibold">Sign In</h6>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Your Email</label>
                        <input name="email" id="email" type="email" class="form-control" placeholder="example@website.com">
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold" for="loginpass">Password</label>
                        <input type="password" class="form-control" id="loginpass" placeholder="Password">
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-label form-check-label text-muted" for="flexCheckDefault">Remember me</label>
                            </div>
                        </div>
                        <span class="forgot-pass text-muted small mb-0"><a href="reset-password.html" class="text-muted">Forgot password ?</a></span>
                    </div>

                    <button class="btn btn-primary w-100" type="submit">Sign in</button>

                    <div class="col-12 text-center mt-3">
                        <span><span class="text-muted me-2 small">Don't have an account ?</span> <a href="signup.html" class="text-dark fw-semibold small">Sign Up</a></span>
                    </div><!--end col-->
                </form>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer p-4 border-top text-center">
        <ul class="list-unstyled social-icon mb-0">
         </ul><!--end icon-->
    </div>
</div>
<!-- Offcanvas End -->

