<section>
    <div class="container-fluid background-section text-light d-flex align-items-center justify-content-center">
        <div class="text-center col-6">
            <h1 class="fw-bolder fs-1 fst-italic">Hi My name is Ramin Azali</h1>
            <p class="fw-bold fs-5">With over 3 years of expertise in .NET Core, I possess
                strong proficiency in database design and API
                development. My goal is to apply my skills to seamlessly
                integrate back-end tasks within your company. I am adept
                at crafting complex logic, including the implementation of
                data-driven solutions to enhance efficiency and accuracy in
                operations.</p>
            <img src="/photo_2024-09-07_18-21-06.jpg" alt="My Image" class="img-fluid rounded-circle carousel-image">
        </div>
    </div>
</section>
