<section class="bg-light py-4">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4  text-center">
            <!-- Card 1 -->
            <div class="col">
                <div class="card bg-dark text-success" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">C# - .Net Core - Orms - Database</h5>
                        <p class="card-text"> OOP , Encapsulation , inheritance , polymorphism ,
                            Abstraction , EF, Linq, Depenency Injection, localization,
                            AutoMapper, DTO,RDBMS, T-Sql, Trigger, Store Procedure, ER</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col">
                <div class="card bg-dark text-success" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title"> Design Patterns - clean code </h5>
                        <p class="card-text">Repository Pattern , Onion Architecture(Clean Architecture) , CQRS Design
                            Pattern , CleanCode , SOLID</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col">
                <div class="card bg-dark text-success" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Git - Azure - swagger </h5>
                        <p class="card-text">Source Controle, Local GitLab , Sprint, Git</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
